$divider-width: 30%;

.divider {
  position: absolute;
  background: linear-gradient(#fff, #fff),
    #fff;
  padding: min(1vw, 0.5rem);
  border-radius: 20px;
  width: $divider-width;
  left: calc((100% - $divider-width) / 2);
  background-origin: content-box, padding-box;
  background-clip: content-box, padding-box;
}
