@use '../../../../variables' as *;

.experience-box {
	display: absolute;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10vh 15vw 10vh 15vw;
	.experience-title {
		h2 {
			font-family: $header-font;
			font-size: min(5vw, 2rem);
			line-height: min(6.5vw, 3rem);
			font-weight: normal;
		}
	}
	.experience-skills {
		p {
			font-family: $text-font;
			font-size: $text-size;
			line-height: $text-height;
		}
	}
	.my-button {
		margin: 5vh 0 5vh 0;
	}
}

.experience-image-box {
	display: flex;
	justify-content: center;
	object-fit: contain;
}

.experience-logo {
	border: 1%;
	border-color: #000;
	border-style: solid;
	width: min(40vw, 15rem);
	height: min(40vw, 15rem);
	margin: min(2.3vw, 1.2rem) 0;
	object-fit: contain;
	pointer-events: none;
	box-shadow: 6px 6px 1px 0.5px rgba(0, 0, 3, 0.2);
}

@media screen and (max-width: 1000px) {
	.experience-box {
		padding: 10vh 5vw 10vh 5vw;
		.experience-skills {
			padding: 0 5vw 0 5vw;
		}
	}
}