.experience-box {
    display: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding: 10vh 15vw 10vh 15vw;
}

.experience-box .experience-title h1 {
    font-family: var(--default-header-font);
    font-size: min(5vw, 2rem);
    line-height: min(6.5vw, 3rem);
    font-weight: normal;
}

.experience-box .experience-skills {
    font-family: var(--default-text-font);
    font-size: var(--default-text-size);
    line-height: var(--default-text-height);
    padding: 0 10vw 0 10vw;
}

.experience-image-box {
    display: flex;
    justify-content: center;  
    padding-bottom: min(2.1vw, 1rem);
    object-fit: contain;
}

.experience-logo {
    border: 1%;
    border-color: #000;
    border-style: solid;
    width: min(40vw, 15rem); height: min(40vw, 15rem);
    margin-bottom: min(2.1vw, 1rem);
    object-fit: contain;
    pointer-events: none;
    box-shadow: 6px 6px 1px 0.5px rgba(0, 0, 3, 0.2);
}

.experience-box .my-button {
    margin: 5vh 0 5vh 0;
}

/* below 1250px */
@media screen and (max-width: 1000px){
    .experience-box {
        padding: 10vh 5vw 10vh 5vw;
    }
    
    .experience-box .experience-skills {
        padding: 0 5vw 0 5vw;
    }    
}