@use '../../../variables' as *;
$modal-background: #4a448d;
$bar-height: min(15vw, 12vh);
$xbar-height: min(5vw, 2.5rem);

.modal {
	display: block;
	position: fixed;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	min-height: 100%;
	z-index: 50;
	background: #eeffff;
	overflow-y: auto;
	.project__setup {
		display: grid;
		background: #434343;
		color: #eeffff;
		margin-top: min(10vh, 10vw);
		padding-bottom: min(5vh, 5vw);
		code {
			line-height: $text-height;
			font-size: min(3vw, 1rem);
			margin: min(0.75rem, 3vh) 0 min(0.75rem, 3vh) 0;
		}
		p {
			font-family: $header-font;
			font-size: $text-size;
			padding-top: min(1.5rem, 3vh);
		}
	}
}

.modal__bar {
	position: fixed;
	z-index: 51;
	background: $modal-background;
	top: 0;
	left: 0;
	width: 100%;
	height: $bar-height;
	vertical-align: middle;
	display: flex;
	img {
		position: fixed;
		right: 20%;
		top: calc(($bar-height - $xbar-height) / 2);
		display: inline-block;
		height: $xbar-height;
		cursor: pointer;
	}
}

.modal__bar-title {
	margin: calc(($bar-height - $header-size) / 2) 0 calc(($bar-height - $header-size) / 2) 10vw;
	display: inline-block;
	color: #eeffff;
	font-family: $header-font;
	font-size: $header-size;
}

.modal__bar-title-alt {
	margin: calc(min(15vw, 12vh) / 2 - min(5vw, 2rem) / 2) 0 calc(min(15vw, 12vh) / 2 - min(5vw, 2rem) / 2) 10vw;
	display: inline-block;
	color: #eeffff;
	font-family: $header-font;
	font-size: min(5vw, 2rem);
	display: none;
}

.modal__contents {
	display: flex;
	margin: 15vh 4vw 0 4vw;
	p {
		color: #000;
		text-align: left;
		font-family: $text-font;
		font-size: $text-size;
		line-height: $text-height;
	}
	.experience-logo {
		width: min(50vw, 20rem);
		height: min(50vw, 20rem);
		margin: 5vh 6vw 0 0;
	}
	.slide-container {
		width: min(60vw, 30rem);
		height: min(60vw, 30rem);
		margin: 5vh 6vw 0 0;
	}
}

.experience-box {
	.project-link {
		&:nth-child(2){
			display: none;
		}
	}
}

.experience-box, .project-box {
	.project-links {
		display: grid;
		font-family: $text-font;
		font-size: min(4.3vw, 1.5rem);
		line-height: min(5vw, 2.5rem);
	}
	.project-link {
		margin: min(10vw, 5rem) 2vw 0 2vw;    
	}
	.modal {
		.project-links {
			display: flex;
			justify-content: center;
			margin-bottom: 10vh;
		}
	}
	a {
		transition: all 0.7s ease-out;
		text-decoration: none;
		color: #000;
		&:hover {
			transition: all 0.7s ease-out;
			box-shadow: inset 0 0 0 30px #000, 0 0 0 5px #000;
			border-radius: 1rem;
			color: #fff;
		}
	}
}

.project-links {
	img {
		width: min(4vw, 2rem);
		object-fit: contain;
		pointer-events: none;
	}
}

@media screen and (max-width: 1150px) {
	.modal__bar-title {
		display: none;
	}
	.modal__bar-title-alt {
		display: block;
	}
	.modal__contents {
		.experience-logo {
			margin: auto;
			margin-bottom: 0;
		}
		.slide-container {
			margin: auto;
			margin-bottom: 0;
		}
		display: grid;
		margin: 15vh 1vw 0 1vw;
		p {
			margin: min(10vw, 3rem) min(10vw, 3rem) 5vh min(10vw, 3rem);
		}
	}
	.modal {
		.project-links {
			display: grid !important;
		}
	}
}

@media screen and (min-width: 1700px) {
	.modal__contents {
		margin: 20vh 10vw 0 10vw;
	}
}
