.project-box {
    display: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding: min(20vw, 10rem) 7vw min(20vw, 10rem) 7vw;
}

.project-box h1 {
    font-family: var(--default-header-font);
    font-size: min(5vw, 2rem);
    height: 100%;
    line-height: min(6.5vw, 3rem);
    font-weight: normal;
}

.project-box .project-tools {
    font-family: var(--default-text-font);
    font-size: min(4vw, 1.5rem);
    line-height: min(5vw, 2.5rem);
}

.project-image-box {
    display: flex;
    justify-content: center;  
    margin-bottom: min(2.1vw, 1rem);
    object-fit: contain;
}

.project-description {
    display: flex;
    justify-content: center;  
}

.gray {
    color: #626262;
}