.experiences__title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20vh;
}

.experiences__title-box .title {
    font-family: 'Changa One';
    font-size: min(10.5vw, 4rem);
    line-height: min(10.5vw, 5rem);
    margin-left: 5vw;
    margin-right: 5vw;
}

.experiences__text-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experiences__text-box .description {
    font-family: "Raleway";
    font-size: min(4.3vw, 1.5rem);
    line-height: min(6.5vw, 3rem);
    margin-left: 10vw;
    margin-right: 10vw;
} 