.experience-box {
    display: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: min(20vw, 10rem);
    padding-bottom: min(20vw, 10rem);
}

.experience-box .experience-title {
    font-family: 'Raleway Bold';
    font-size: min(5vw, 2rem);
    line-height: min(6.5vw, 3rem);
    padding-left: 10vw; padding-right: 10vw;
}

.experience-box .experience-skills {
    font-family: 'Raleway';
    font-size: min(4vw, 1.5rem);
    line-height: min(5vw, 2.5rem);
    padding-bottom: min(4vw, 2rem);
}

.experience-image-box {
    display: flex;
    justify-content: center;  
    padding-bottom: min(2.1vw, 1rem);
    object-fit: contain;
}

.experience-box .experience-description {
    font-family: 'Raleway';
    font-size: min(3vw, 1.3rem);
    line-height: min(5vw, 2.5rem);
    text-align: left;  
    padding-left: 15vw;
    padding-right: 15vw;
}
  
@media screen and (max-width: 1350px) {
    .experience-box .experience-description {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

.experience-box img {
    border: 1%;
    border-color: #000;
    border-style: solid;
    width: min(40vw, 17rem);
    margin-bottom: min(2.1vw, 1rem);
    object-fit: contain;
    pointer-events: none;
}