.background__all {
    background: linear-gradient(45deg,  rgba(75, 138, 255), rgb(14, 33, 119), rgba(75, 255, 201, 0.847), rgb(14, 33, 119), rgba(180, 75, 255, 0.864));
    background-size: 2000% 100%;
    animation: gradient 15s ease infinite;
    padding-top: 10vw; padding-bottom: 10vw;
}

.box__all {
    margin-top: min(10vh, 5rem);
    background-color: #eeffff;
    margin-left: 10vw; margin-right: 10vw;
    border-radius: min(10vh, 5rem);
}

@media screen and (max-width: 1350px){
    .box__all {
        margin-top: 20vh; margin-bottom: 20vh;
        margin-left: 5vw; margin-right: 5vw;
    }
}