.languages {
    display: relative;
    text-align: center;
    background-color: rgb(244, 255, 241);
    padding-top: 5rem;
    padding-bottom: 15rem;
}

.languages p {
    font-family: 'Raleway Bold', cursive;
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding-bottom: 5rem;
}

.tooltip-wrap {
    justify-content: center;
}

.tooltip-wrap img {
    position: flex;
    text-align: center;
    cursor: pointer;
    padding : 0 10px 0 10px;
    height: 13rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.tooltip-wrap .tooltip-content {
    display: none;
}

.tooltip-wrap:hover .tooltip-content {
    display: inline-block;
    font-family: 'Raleway Bold';
    font-size: 2rem;
}