.skills {
    background-color: rgb(237, 255, 232);
    justify-content: center;
    flex-direction: column;
}

.skills .title {
    background-color: rgb(245, 252, 244);
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Changa One', cursive;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 5rem;
    line-height: 5rem;
}

.skills .text-box {
    background-color: rgb(245, 252, 244);
    display: flex;
    justify-content: center;
}

.skills .text-box .text {
    font-family: "Raleway";
    font-size: 2rem;
    line-height: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;    
}

.skills .stripe1, .stripe2 {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .stripe1 {
    background: linear-gradient(
        rgb(245, 252, 244) 0%,
        rgb(244, 255, 241) 100%
    );
}
  
.skills .stripe2 {
    background: linear-gradient(
        rgb(244, 255, 241) 0%,
        rgb(237, 255, 232) 100%
    );
}