@use '../../../variables' as *;

.skills {
	padding-bottom: 20vh;
}

.skills__title {
	h1 {
		display: flex;
		justify-content: center;
		text-align: center;
		font-family: $title-font;
		padding-top: 15vh;
		font-size: $title-size;
		line-height: min(10.5vw, 5rem);
		font-weight: normal;
	}
}

.skills__text-box {
	display: flex;
	justify-content: center;
	text-align: center;
	p {
		font-family: $text-font;
		font-size: $text-size;
		line-height: min(6.5vw, 3rem);
		padding: 0 10vw 0 10vw;
	}
}
