.languages, .tools {
    align-items: center;
    text-align: center;
    padding-top: min(10vw, 5rem);
    padding-bottom: min(30vw, 15rem);
}

.languages-bold, .tools-bold {    
    display: block;
    font-family: 'Raleway Bold';
    font-size: min(7.5vw, 2.5rem);
    line-height: min(7.5vw, 3.5rem);
    padding-bottom: min(6vw, 3rem);
}

.languages .bold ul {
    position: static;
}

.tooltip-wrap {
    display: inline-block;
    padding-left: min(3vw, 3rem);
    padding-right: min(3vw, 3rem);
}

.tooltip-wrap img {
    cursor: pointer;
    width: min(30vw, 10rem);
    margin: min(10vw, 5rem);
}

.tooltip-wrap .tooltip-content {
    transition: all 0.3s ease-out;
    opacity: 0;
}

.tooltip-wrap:hover .tooltip-content {
    display: inline-block;
    opacity: 1;
    font-family: 'Raleway Bold';
    transition: all 0.3s ease-out;
    font-size: min(4.3vw, 2rem);
}