.tools {
    align-items: center;
    text-align: center;
}

.tool__section {
    padding-top: 15vh;
    padding-bottom: 10vh;
}

.tools-bold p {    
    display: block;
    font-family: var(--default-header-font);
    font-size: min(6vw, 2.5rem);
    line-height: min(10vh, 3rem);
}

.tooltip-wrap {
    display: inline-block;
    margin-left: min(3vw, 3rem);
    margin-right: min(3vw, 3rem);
    padding-bottom: 7vh;
}

.tooltip-wrap img {
    cursor: pointer;
    width: min(30vw, 10rem);
    margin: min(10vw, 5rem);
    pointer-events: none;
}

.tooltip-wrap .tooltip-content {
    transition: all 0.3s ease-out;
    font-family: var(--default-header-font);
    opacity: 0;
}

.tooltip-wrap:hover .tooltip-content {
    display: inline-block;
    opacity: 1;
    font-family: var(--default-header-font);
    transition: all 0.3s ease-out;
    font-size: min(6vw, 2rem);
}