.languages, .tools {
    align-items: center;
    text-align: center;
    padding-top: min(10vw, 5rem);
    padding-bottom: min(30vw, 15rem);
    margin-left: min(10vw, 5rem); margin-right: min(10vw, 5rem);
}

.languages-bold p, .tools-bold p {    
    display: block;
    font-family: 'Raleway Bold';
    font-size: min(9vw, 3rem);
    line-height: min(10vh, 3rem);
    padding-bottom: min(6vw, 3rem);
}

.tooltip-wrap {
    display: inline-block;
    margin-left: min(3vw, 3rem);
    margin-right: min(3vw, 3rem);
}

.tooltip-wrap img {
    cursor: pointer;
    width: min(30vw, 10rem);
    margin: min(10vw, 5rem);
}

.tooltip-wrap .tooltip-content {
    transition: all 0.3s ease-out;
    font-family: 'Raleway Bold';
    opacity: 0;
    margin-bottom: min(9vh, 3rem);
}

.tooltip-wrap:hover .tooltip-content {
    display: inline-block;
    opacity: 1;
    font-family: 'Raleway Bold';
    transition: all 0.3s ease-out;
    font-size: min(6vw, 2rem);
}