.slide-container {
    border: min(3vw, 1.5rem) solid transparent;
    border-image: linear-gradient(45deg, rgb(0, 0, 0) , rgb(160, 160, 160));
    border-image-slice: 1;
    align-self: center;
    width: min(70vw, 30rem);
    height: min(70vw, 30rem);
    margin-left: min(15vw, 7.5rem);
    margin-right: min(15vw, 7.5rem);
    margin-top: min(6vw, 3rem);

}