@use '../../../variables' as *;

.section-wrapper {
	display: flex;
	text-align: left;
	justify-content: center;
	padding: min(10vw, 5rem) 10vw;
	gap: min(8rem, 6vw);
	margin: auto;

	h2 {
		font-family: $header-font;
		font-size: $header-size;
		line-height: min(6.5vw, 3rem);
		font-weight: normal;
	}

	.section-skills {
		p {
			font-family: $text-font;
			font-size: $text-size;
			line-height: $text-height;
		}
	}

	.my-button {
		scale: (0.9);
		margin: 2vh 0;
	}

 	&:nth-child(4n + 3) {
		flex-direction: row-reverse;
		text-align: left;
	}
	a {
		transition: all 0.7s ease-out;
		text-decoration: none;
		color: #000;
		&:hover {
			transition: all 0.7s ease-out;
			box-shadow: inset 0 0 0 30px #000, 0 0 0 5px #000;
			border-radius: 1rem;
			color: #fff;
		}
	}
	.project-links {
		display: grid;
		font-family: $text-font;
		text-align: center;
		font-size: min(4.3vw, 1.5rem);
		line-height: min(5vw, 2.5rem);
		gap: min(9vw, 3rem);
		margin: min(10vw, 5rem) 0;
	}
}

.section-image-box, .section-image-box__mobile {
	margin-bottom: min(2vw, 0.8rem);
	object-fit: contain;
	transition: all 0.2s ease-in-out;
	&:hover {
		transform: scale(1.1);
		transition: all 0.2s ease-in-out;
	}
}

.section-image-box__mobile {
	display: none;		
	justify-content: center;
	margin: 5vh 0;
}

.section-description {
	display: flex;
	justify-content: center;
}

.section-logo {
    border: 1px solid #444; /* Specific unit and darker color for better contrast */
    width: min(56vw, 22rem);
    height: min(56vw, 22rem);
    margin: min(2.3vw, 1.2rem) 0;
    object-fit: contain;
    box-shadow: 0 0 10px rgba(98, 98, 98, 0.5); /* Softer shadow */
    border-radius: 5px; /* Rounded corners */
    pointer-events: none;
    transition: transform 0.3s ease-in-out; /* Transition for smooth scaling */
}


.gray {
	color: #626262;
}

@media screen and (max-width: 950px) {
	.section-wrapper {
		display: absolute;
		justify-content: center;
		align-items: center;
		text-align: center !important;
		margin: 0;
		.my-button {
			margin: 1vh 0 1vh 0;
		}
	}
	.section-image-box {
		display: none;
	}
	.section-image-box__mobile {
		display: flex;	
	}
	.section-logo {
		width: min(60vw, 20rem);
		height: min(60vw, 20rem);
	}
}