.slide-container {
    width: min(70vw, 30rem);
    height: min(70vw, 30rem);
    margin: min(6vw, 3rem) min(15vw, 7.5rem) 0 min(15vw, 7.5rem);
    box-shadow: 6px 6px 1px 0.5px rgba(0, 0, 3, 0.2); border: 1%;
    border-color: #000;
    border-style: solid;
    
    img {
        pointer-events: none;
        object-fit: contain;
    }
}