.slide-container {
	box-shadow: 0 0 10px 8px rgba(0, 0, 3, 0.2); border: 1%;
    border-color: #000;
    border-style: solid;
    
    img {
        pointer-events: none;
        object-fit: contain;
    }
}