.nav-bar {
  display: flex;
  width: 100%;
  height: min(21vw, 7rem);
  background: #434343;
  border-top: #ffffff; border-bottom: #ffffff;
  border-top-width: min(8vw, 1.5rem); border-bottom-width: min(8vw, 1.5rem); 
  border-top-style: groove; border-bottom-style: groove;
  z-index: 15; position: fixed;
}

.nav-bar-image img {
  margin-left: min(21vw, 7rem);
  display: inline-block;
  vertical-align: middle;
  width: min(21vw, 7rem);
  pointer-events: none;
}

.nav-links {
  display: flex;
  padding-left: min(20vw, 6rem);
}

.nav-link {
  color: #ffffff;
  margin-left: min(4.5vw, 1.5rem); margin-right: min(4.5vw, 1.5rem); 
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links .nav-link p {
  font-family: 'Raleway Bold'; font-size: min(3vw, 1.75rem);
}

.nav-links .nav-link p:hover {
  background-color: #ffffff;
  color: #4b4a4a;
  border-width: 0.5rem;
  border-color: #e5e5e5;
  border-style: groove;
  text-decoration: none;
  padding: min(2vw, 1rem);
  border-radius: min(16vw, 4rem);
  transition: all 0.3s ease-out;
}

.side-bar {
  display: none;
  position: sticky;
  vertical-align: middle;
}

.top-bar {
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
}


.burger-bar {
  position: fixed; cursor: pointer;
  width: min(9vw, 3rem);
  right: min(21vw, 7rem);
  top: min(11.25vw, 3.75rem);
  vertical-align: middle;
}

.x-bar {
  position: fixed; cursor: pointer;
  width: min(4.5vw, 1.5rem);
  top: min(10.5vw, 3.5rem); right: 5%; z-index: 10;
}

.side-bar-box {
  position: fixed;
  display: inline;
  right: 0%;
  background: #434343;
  height: 100vh;
  overflow-y: auto;
  width: min(45vw, 20rem);
  border-width: 0.7rem;
  border-color: #ffffff;
  border-style: inset;
  border-radius: 5%;
}

.side-bar-links {
  margin-top: min(16vw, 4rem);
}

.side-bar-box p {
  color: #ffffff;
  padding: min(2vw, 1rem); 
  margin-top: min(2vw, 1rem); 
  margin-right: min(2vw, 1rem); 
  padding-right: min(36vw, 12rem); 
  text-decoration: none;
  font-family: 'Raleway Bold'; font-size: min(3.5vw, 1.2rem);
  scroll-behavior: smooth;
}


.side-bar-box p:hover {
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 1350px){
  .nav-bar .top-bar {
    display: none;
  } 
  .nav-bar .side-bar {
    display: flex;
  }
}