.nav-bar, .nav-bar__activate {
  display: flex;
  width: 100%;
  height: min(21vw, 7rem);
  background: #434343;
  border-top: #ffffff; border-bottom: #ffffff;
  border-top-width: min(8vw, 1.5rem); border-bottom-width: min(8vw, 1.5rem); 
  border-top-style: groove; border-bottom-style: groove;
  z-index: 15; position: fixed;
  top: -50%;
  transition: all 0.4s cubic-bezier(.53, 0, .55, 1);
}

.nav-bar__activate {
  top: 0%;  
  transition: all 0.3s cubic-bezier(.53, 0, .55, 1);
}

.top-bar {
  display: flex;
}

.nav-bar__image img {
  margin-left: min(21vw, 7rem);
  display: inline-block;
  vertical-align: middle;
  width: min(21vw, 7rem);
  pointer-events: none;
}

.nav-bar__links {
  display: flex;
  padding-left: min(20vw, 6rem);
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.top-bar .nav-link {
  margin-left: min(4.5vw, 1.5rem); margin-right: min(4.5vw, 1.5rem); 
}

.nav-bar__links .nav-link p {
  font-family: var(--default-header-font); font-size: min(3vw, 1.75rem);
  transition: all 0.8s ease-out;
}

.nav-bar__links .nav-link p:hover {
  background-color: #ffffff;
  color: #4b4a4a;
  border-width: 0.5rem;
  border-color: #e5e5e5;
  border-style: groove;
  text-decoration: none;
  padding: min(2vw, 1rem);
  border-radius: min(16vw, 4rem);
  transition: all 0.8s ease-out;
}

@media screen and (max-width: 1450px){
  .top-bar {
    display: none;
  } 
}