.nav-bar {
  position: fixed;
  background: #434343;
  height: min(100vw, 8rem);
  top: 0rem;
  width: 100%;
  border-top: #ffffff;
  border-bottom: #ffffff;
  border-top-width: min(8vw, 1.5rem);
  border-bottom-width: min(8vw, 1.5rem);
  border-top-style: groove;
  border-bottom-style: groove;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1090;
}

.nav-bar img {
  width: min(100vw, 8rem);
  margin-left: min(4vw, 4rem);
  margin-right: min(4vw, 4rem);
  pointer-events: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  padding: min(2vw, 1rem); 
  margin-left: min(2vw, 1rem); 
  margin-right: min(2vw, 1rem); 
  text-decoration: none;
  font-family: 'Changa One', cursive;
  font-size: min(2.7vw, 2.2rem);
}

.nav-link:hover {
  background-color: #ffffff;
  color: #4b4a4a;
  border-width: 0.5rem;
  border-color: #e5e5e5;
  border-style: groove;
  text-decoration: none;
  border-radius: min(5vw, 2.5rem);
  transition: all 0.3s ease-out;
}

.nav-bar .nav-menu {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
    
@media screen and (min-width: 1150px) {
  .nav-bar .fa-bar {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .nav-bar img {
    position: absolute;
    left: 15%;
    pointer-events: none;
  }
  
  .nav-bar .fa-bar {
    position: absolute;
    right: 20%;
    top: 8%;
  }

  .nav-bar .nav-link {
    display: none;
  } 
}