.bm-burger-button {
    position: absolute;
    width: 3.5rem;
    height: 2.5rem;
    right: 0rem;
    top: 0rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #00fff7;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    width: 0.6rem !important;
    height: 1.7rem !important;
    top: 1em !important;
    right: 4em !important;
    position: fixed !important;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #ffffff;
    width: 0.4rem !important;
    height: 1.5rem !important;
}

.bm-cross-button > span {
    top: 1em !important;
    right: 4em !important;
    position: fixed !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    right: 0rem !important;
    top: 0%;
    width: min(50vw, 20rem) !important;
}

.bm-menu {
    background: linear-gradient(
        #434343 0%,
        #959595 100%
    );
    border: 0.2rem solid #fff;
    font-size: min(5vw, 1.5rem); 
    font-family: 'Changa One', cursive;
}

.menu-item {
    padding: 1rem;
}

.menu-item:hover {
    background-color: #ffffff;
    color: #4b4a4a;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.bm-morph-shape {
    background: #434343;
}

/* Wrapper for item list */
.bm-item-list {
    color: #ffffff;
    padding-top: 1.5em;
    padding-left: 0.5em;
    margin-top: 1em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}