.bm-burger-button {
    position: fixed; 
    width: 3.5rem;
    height: 2.5rem;
    top: 4.2rem;
    right: 25%;
}

.bm-burger-bars {
    background: #ffffff;
}

.bm-cross-button {
    width: 0.6rem !important;
    height: 1.7rem !important;
    top: 2em !important;
    right: 4em !important;
    position: fixed !important;
}

.bm-cross {
    background: #ffffff;
    width: 0.4rem !important;
    height: 1.5rem !important;
}

.bm-cross-button > span {
    top: 2em !important;
    right: 4em !important;
    position: fixed !important;
}

.bm-menu-wrap {
    position: fixed;
    right: 0rem !important;
    top: 0%;
    width: min(75vw, 30rem) !important;
    height: 90vh !important;
}

.bm-menu {
    background: #434343;
    border-width: 0.7rem;
    border-color: #ffffff;
    border-style: groove;
    font-size: min(4.3vw, 1.3rem); 
    font-family: 'Changa One', cursive;
}

.menu-item {
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    padding: min(2vw, 1rem); 
    margin-left: min(2vw, 1rem); 
    margin-right: min(2vw, 1rem); 
    text-decoration: none;
    font-family: 'Changa One', cursive;
    font-size: min(4vw, 1.5rem);
    scroll-behavior: smooth;
    padding: 1rem;
}

.menu-item:hover {
    background-color: #3755ff;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.right-arrow {
    display: inline;
    float: right;
}

.bm-morph-shape {
    background: #434343;
}

.bm-item-list {
    color: #ffffff;
    padding-top: 2em;
    padding-left: 0.5em;
    margin-top: 1em;
}

.bm-item {
    display: inline-block;
}