.about-me {
    background-color: rgb(241, 254, 255);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.about-me title, .location-text, .description-text {
    display: inline-block;
    text-align: center;
}

.about-me title {
    font-family: 'Changa One';
    font-size: 7rem;
    line-height: 8rem;
    padding-left: 8rem;
    padding-right: 8rem;  
}

.about-me .location-text {
    font-family: 'Raleway Bold', sans-serif;
    line-height: 4rem;
    font-size: 3rem;
    padding-left: 5rem;
    padding-right: 5rem; 
}

.about-me .description-text {
    font-family: 'Raleway';
    line-height: 3rem;
    font-size: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;  
}