.about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.about-me title, .about-me-description {
    display: inline-block;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.about-me-description p {
    margin-left: 10vw;
    margin-right: 10vw;
}

.about-me title {
    font-family: 'Changa One';
    font-size: min(13vw, 6rem);
    line-height: min(17vw, 8rem);
}

.about-me .about-me-description h4 {
    font-family: 'Raleway Bold', sans-serif;
    font-size: min(6vw, 2rem);
    line-height: min(8.5vw, 4rem);
}

.about-me-description img {
    height: min(6.5vw, 2.5rem);
    pointer-events: none;
}

.about-me-description p {
    font-family: 'Raleway';
    font-size: min(4.3vw, 1.5rem);
    line-height: min(6.5vw, 3rem);
}