.school-information {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 2rem 0 4rem 0;
    left: 30px;
  }
  
  .school-information img {
    z-index: -1;
    min-width: 50%;
    height: auto;
    object-fit: contain;
    flex-grow: 1;
  }
  
  .school-information .text {
    display: inline-block;
    width: min-content;
    flex: 0 0;
  }
  .school-information .title-wrapper {
    font-weight: normal;
    color: #2f9b7b;
  }
  
  .school-information .title-wrapper .cheapify {
    margin-top: 2em;
    font-size: 3rem;
    font-weight: bold;
  }