.school-information {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
  
.school-information title, .text, .year-text, .description-text {
    display: inline-block;
    text-align: center;
    margin-left: 7vw;
    margin-right: 7vw;
}

.school-information title {
    font-family: var(--default-title-font);
    font-size: min(10.5vw, 4rem);
    padding-bottom: 5rem;
}

.school-information img {
    width: min(40vw, 17rem);
    padding-bottom: min(2.1vw, 1rem);
    object-fit: contain;
    pointer-events: none;
}

.school-information p {
    font-family: var(--default-text-font);
    font-size: min(4.3vw, 1.5rem);
    line-height: min(6.5vw, 3rem);
}

.school-information h2 {
    font-family: var(--default-header-font);
    font-size: min(4.3vw, 1.5rem);
    line-height: min(6.5vw, 3rem);
}

.school-information select {
    background: #f1f1f1;
    border-color: #000;
    height: 5vh;
    width: 19rem;
    font-family: var(--default-text-font);
    border-radius: 1rem;
}