.school-information {
    background-color: rgb(228, 250, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15rem;
    padding-bottom: 15rem;
}
  
.school-information title, .text, .year-text {
    display: inline-block;
    text-align: center;
}

.school-information title {
    font-family: 'Changa One';
    font-size: 5rem;
    line-height: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;  
    padding-bottom: 5rem;
}

.school-information img {
    min-width: 50%;
    height: 13rem;
    padding-bottom: 1rem;
    object-fit: contain;
}

.school-information .description-text {
    font-family: 'Raleway';
    font-size: 2rem;
    line-height: 3.5rem;
    padding-left: 5rem;
    padding-right: 5rem;  
}

.school-information .year-text {
    font-family: 'Raleway Bold', cursive;
    font-size: 1.8rem;
    line-height: 3.5rem;
    padding-left: 5rem;
    padding-right: 5rem;  
}