@use '../../variables' as *;
$footer-col: #fff;
$footer-background: linear-gradient(90deg, rgb(45, 102, 176), rgb(58, 38, 162));

.footer {
	background: $footer-background;
	border-top: $footer-col;
	border-top-style: solid;
	height: 12vh;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		color: $footer-col;
		font-size: min(3vh, 1.5rem);
		font-family: $text-font;
		text-align: center;
	}
}

@media screen and (max-width: 1350px) {
	.footer {
		p {
			color: $footer-col;
			font-size: min(3vh, 1rem);
		}
	}
}