.footer {
    background: #434343;
    border-top: #ffffff;
    border-top-style: groove;
    border-top-width: 1rem;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #ffffff;
    font-size: min(3vh, 1.5rem);
    line-height: min(3vh, 1rem);
    font-family: var(--default-header-font);
    text-align: center;
}