@use '../../../../variables' as *;

.tools {
	align-items: center;
	text-align: center;
}

.tool__section {
	padding-top: 15vh;
	padding-bottom: 10vh;
	margin: 0 5vw;
}

.tools-bold {
	p {
		display: block;
		font-family: $header-font;
		font-size: min(7vw, 2.2rem);
		line-height: min(10vh, 3rem);
	}
}

.tooltip-wrap {
	display: inline-block;
	padding: 4vh;
	img {
		cursor: pointer;
		width: min(20vw, 8rem);
		margin: min(9vw, 3rem);
		pointer-events: none;
	}
	.tooltip-content {
		transition: all 0.3s ease-out;
		font-family: $header-font;
		opacity: 0;
	}
	&:hover {
		.tooltip-content {
			display: inline-block;
			opacity: 1;
			font-family: $header-font;
			transition: all 0.3s ease-out;
			font-size: $text-size;
		}
	}
}

@media screen and (max-width: 1000px) {
	.tooltip-wrap {
		img {
			width: min(30vw, 10rem);
		}
		&:hover {
			.tooltip-content {
				font-size: $header-size;
			}
		}
	}
}