$title-font: "Changa One" !default;
$header-font: "Raleway Bold" !default;
$text-font: "Poppins" !default;
$title-size: min(8.5vw, 3rem) !default;
$header-size: min(4vw, 1.5rem) !default;
$text-size: min(3.5vw, 1.2rem) !default;
$text-height: min(5.5vw, 2.5rem) !default;

$custom-transition: cubic-bezier(.53, 0, .55, 1);