$title-font: "Changa One" !default;
$header-font: "Raleway Bold" !default;
$text-font: "Poppins" !default;
$title-size: min(10.5vw, 4rem) !default;
$header-size: min(5vw, 2rem) !default;
$text-size: min(4.3vw, 1.5rem) !default;
$text-height: min(6.5vw, 3rem) !default;

$custom-transition: cubic-bezier(.53, 0, .55, 1);