$title-font: "Large" !default;
$header-font: "Medium" !default;
$text-font: "Small" !default;
$navbar-font: "Medium" !default;
$title-size: calc(3rem + 0.35vw) !default;
$header-size: calc(1.2rem + 0.15vw) !default;
$text-size: calc(0.9rem + 0.15vw) !default;
$text-height: calc(1.9rem + 0.15vw) !default;

$custom-transition: cubic-bezier(0.53, 0, 0.55, 1);