$title-font: "Changa One" !default;
$header-font: "Raleway Bold" !default;
$text-font: "Poppins" !default;
$title-size: calc(2.4rem + 0.2vw) !default;
$header-size: calc(1.2rem + 0.15vw) !default;
$text-size: calc(0.9rem + 0.15vw) !default; 
$text-height: calc(1.9rem + 0.15vw) !default;

$custom-transition: cubic-bezier(.53, 0, .55, 1);