@font-face {
  font-family: "Changa One";
  src: url('./assets/fonts/ChangaOne-Regular.ttf');
}

@font-face {
  font-family: "Raleway Bold";
  src: url('./assets/fonts/Raleway-ExtraBold.ttf');
}

@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Button */
.my-button {
  transition: all 0.7s ease-out;
  position: relative;
  cursor: pointer;
  border: #000; border-style: solid; border-radius: 5%;
  color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border-color: #000;
  font-family: var(--default-text-font); font-size: min(3vw, 1rem);
}

.my-button:hover {
  transition: all 0.7s ease-out;
  box-shadow: inset 0 0 0 40px #000;
  color: rgb(255, 255, 255);
}

.divider {
  margin-top: 1vh;
  position: absolute;
  background: linear-gradient(white, white), linear-gradient(60deg, rgb(47, 168, 255), rgb(79, 84, 255));
  padding: min(1vw, 0.5rem) min(1vw, 0.5rem);
  border-radius: 20px;
  width: 30vw;
  left: 35vw;
  background-origin: content-box, padding-box;
  background-clip: content-box, padding-box;
}

@media screen and (max-width: 1350px){
  .divider {
    width: 50vw;
    left: 25vw;
  }
}

:root {
  --default-title-font: "Changa One";
  --default-header-font: "Raleway Bold";
  --default-text-font: "Poppins";
}