@font-face {
  font-family: "Changa One";
  src: url('./assets/fonts/ChangaOne-Regular.ttf');
}

@font-face {
  font-family: "Raleway";
  src: url('./assets/fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: "Raleway Bold";
  src: url('./assets/fonts/Raleway-ExtraBold.ttf');
}

@font-face {
  font-family: "Russo";
  src: url('./assets/fonts/RussoOne-Regular.ttf');
}

@font-face {
  font-family: "DM Sans";
  src: url('./assets/fonts/DMSans-Medium.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: linear-gradient(90deg, rgba(255, 127, 127, 0.5), rgba(255, 199, 80, 0.5), rgba(144, 255, 127, 0.5), rgba(0, 255, 247, 0.5));
  background-size: 500% 100%;
  animation: gradient 20s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Button */
.my-button {
  position: relative;
  cursor: pointer;
  border: #000; border-style: solid; border-radius: 5%;
  color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border-color: #000;
  font-family: 'Raleway'; font-size: min(3vw, 1rem);
}

.my-button:hover {
  transition: all 0.5s ease-out;
  box-shadow: inset 0 0 0 40px #000;
  color: rgb(255, 255, 255);
}
